.main {
  display: grid;
  max-width: 1280px;
  padding: 26px;
  margin: 0px auto;
}

.loader span span {
  margin-bottom: 14px;
}

.searchBarItem {
  margin-bottom: 20px;
}

.list {
  list-style: none;
}

.listItem {
  background: var(--color-brand-dark);
  color: var(--color-base-white);
  padding: 20px;
  margin-bottom: 14px;
  border-radius: 1.1em;
  display: flex;
}

.listItemIcon {
  margin-right: 14px;
  min-width: 38px;
}

.listItemWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.listItemWrapperItem {
  margin-right: 10px;
}

.listItemTitle {
  font-weight: 600;
  font-size: var(--size-font-medium);
}

.listItemLabel {
  font-size: var(--size-font-medium);
  color: var(--color-brand-light);
  margin-bottom: 5px;
}

.listItemDate {
  font-size: var(--size-font-medium);
}

.paginationInfo {
  display: flex;
  flex-flow: column;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: var(--size-font-medium);
  color: var(--color-brand-light);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-brand-light);
}

.pageNumber { 
  font-size: var(--size-font-medium);
}

.notFound {
  margin-bottom: 20px;
}