.main {
  display: grid;
  max-width: 1280px;
  padding: 26px;
  margin: 0px auto;
}

.pageTop {
  padding: 26px;
}

.icon:hover {
  opacity: .5;
}

.title {
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--color-base-white);
}

.list {
  list-style: none;
}

.listItem {
  font-size: 14px;
  line-height: 24px;
}

.listItemWrapper {
  display: flex;
}

.listItemWrapperLabel {
  font-weight: 600;
  margin-right: 6px;
  color: var(--color-base-white);
}

.listItemWrapperValue {
  background: var(--color-brand-dark);
  display: flex;
  padding: 2px;
  color: var(--color-brand-light);
}